<div class="col m6 offset-m3" style="margin-top:5%">

  <h4 class='center-align'>EDITAR CADASTRO</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="field">
      <%= f.label :nome %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Esperando confirmação: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(mínimo de <%= @minimum_password_length %> caracteres)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :confirme_o_password %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_atual %>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions right" style="margin-top:3%">
      <%= f.submit "ATUALIZAR", class: 'btn right', id: 'btn-registration-edit' %>
    </div>

    <div class="actions" style="margin-top:3%">
      <div class='section'>
        <%= link_to "Voltar", :back %>
      </div>

      <div class='section'>
        <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar a conta?" }, method: :delete %>
      </div>
    </div>

    <div class="actions center-align hide" style="margin-top:3%" id="preloading">
      <%= render '/shared/preloading' %>
    </div>
  <% end %>

</div>
