<!DOCTYPE html>
<html>
  <head>
    <title>AmigoSecreto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag '/favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <%= render '/shared/navbar' %>
      <%= render '/shared/flash' %>
    </header>

    <main>
      <div class="container grey-text text-darken-3">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </main>

    <footer>
      <%= render '/shared/footer' %>
    </footer>
  </body>
</html>
