<!DOCTYPE html>
<html>
  <head>
    <title>AmigoSecreto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag '/favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <%= render '/shared/navbar' %>
      <%= render '/shared/flash' %>
    </header>

    <main>
      <div class="container grey-text text-darken-3">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </main>

    <footer>
      <%= render '/shared/footer' %>
    </footer>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <div id='modal_header'></div>
        <div id='modal_body'></div>
      </div>
      <div class="modal-footer">
        <div id='modal_footer'></div>
      </div>
    </div>

  </body>

</html>
